.mainContainer {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  width: 100%;
  height: 300px;
  padding: 10px;
  color: #666666;
  border-bottom: 1px solid #666666;
  word-wrap: break-word;
  cursor: pointer;
}
.mainContainer:hover {
  color: #0081ef;
}
.productC {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productC p {
  margin: 10px;
}
.productImage {
  position: relative;
  width: 50px;
  height: 80px;
}
.statusC {
  font-size: 18px;
  color: #111111;
}
.iconHolder {
  position: absolute;
  right: 10px;

  font-size: 20px;
  top: 10px;
  color: #0081ef;
}

@media screen and (max-width: 660px) {
  .mainContainer {
    font-size: 14px;
    padding: 0;
  }
  .productC p {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .productImage {
    width: 40px;
    height: 60px;
  }
}
