.mainContainer {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.basketHolder {
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.productContainer {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  align-items: center;
}
.productHC {
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
}
.basketDHolder {
  width: 20%;
  /* min-width: 300px; */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.title {
  font-weight: bold;
}
.titleC {
  font-size: 20px;
}
.detailsC {
  width: 100%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}
.infoHolder {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #666666;
  width: 100%;
}
.infoHolder:last-child {
  border-bottom: none;
}
.info {
  color: #0081ef;
}
.proccessTo {
  width: 200px;
  height: 35px;
  /* padding: 10px; */
  cursor: pointer;
  /* background-color: #6b6b6b; */
  background-color: #0081ef;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  margin-top: 40px;
  font-weight: bold;
}
.proccessTo:hover {
  color: #111111;
}

@media screen and (max-width: 1000px) {
  .mainContainer {
    flex-direction: column;
    gap: 20px;
  }
  .basketHolder {
    width: 100%;
  }
  .basketDHolder {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .productContainer {
    padding: 5px;
  }
}
