.mainContainer {
  display: flex;
  justify-content: space-around;
  /* justify-content: flex-start; */
  /* width: 500px; */
  width: 50%;
  flex-direction: column;
}
.mapHolder {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
}
.title {
  width: 100%;
  font-weight: bold;
  text-align: center;
  align-items: center;
}
.title h1 {
  font-size: 20px;
}
.existAddressC {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.existAB {
  width: 200px;
  border-radius: 5px;
  background-color: #0081ef;
  border: none;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
  height: 35px;
  font-size: 16px;
  transition: 0.3s ease-out;
}
.existAB:hover {
  color: #111111;
}
@media screen and (max-width: 900px) {
  .mainContainer {
    margin-top: 40px;
    width: 90%;
  }
}
