.container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  width: 100%;
}
.container h1 {
  color: #0081ef;
  font-size: 20px;
  margin-bottom: 20px;
}
.personHolder {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.personContainer {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  padding: 20px;
}
.personImage {
  font-size: 60px;
}
.personContainer img {
  object-fit: cover;
  border-radius: 50%;
}
.name {
  font-weight: bold;
}
.job {
  color: #0081ef;
}
