.mainC {
  min-width: 300px;
  border: 1px solid #111111;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
}

.navContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 300px;
  color: #666666;
  width: 100%;
  list-style: none;
}
.items {
  border-bottom: 2px solid #666666;
  cursor: pointer;
}
.itemsAc {
  color: #0081ef;
  border-bottom: 2px solid #0081ef;
  cursor: pointer;
}

@media screen and (max-width: 670px) {
  .mainC {
    min-width: 100%;
  }
}
