.mainContainer {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.mainContainer img {
  object-fit: contain;
}
.title {
  font-size: 14px;
  margin: 0;
}
.price {
  font-size: 14px;
  color: #0081ef;
  font-weight: bold;
  margin: 0;
}
@media screen and (max-width: 900px) {
  .mainContainer {
    flex-direction: column;
    padding: 10px;
  }
  .price {
    display: none;
  }
}
